[Unit]
Description=CentaurScores API Service (kestrel)

[Service]
WorkingDirectory=/var/www/centaurscoresapi
ExecStart=/usr/bin/dotnet /var/www/centaurscoresapi/CentaurScores.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=centaurscoresapi
User=csuser
Environment=ASPNETCORE_ENVIRONMENT=Production 
Environment=ASPNETCORE_URLS=http://*:8062

[Install]
WantedBy=multi-user.target